In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

Primero leemos tanto los datos 'crudos' como los procesados, ya que los primeros se ecuentran en formato "wide", y puede ser util para detectar tendencias a lo largo del tiempo:

In [10]:
processed_path = '../data/processed/processed_data_energy.csv'
raw_path = '../data/raw/Dataset_GCRNO.csv'

df = pd.read_csv(processed_path)
raw_df = pd.read_csv(raw_path)

Antes de comenzar, convertimos nuestra columna `FECHA`, del dataframe `raw_df` a una de tipo datetime, para facilitar el análisis temporal de los datos

In [11]:
# Diccionario para meses
dict_mes = {'ene':'01',
            'feb':'02',
            'mar':'03',
            'abr':'04',
            'may':'05',
            'jun':'06',
            'jul':'07',
            'ago':'08',
            'sep':'09',
            'oct':'10',
            'nov':'11',
            'dic':'12'
        }

raw_df['FECHA'] = raw_df['FECHA'].replace(dict_mes, regex=True)
raw_df['FECHA'] = pd.to_datetime(raw_df['FECHA'], format='%d-%m-%y')

In [12]:
raw_df.head()

,FECHA,DEM_GCRNO_H0,DEM_GCRNO_H1,DEM_GCRNO_H2,DEM_GCRNO_H3,DEM_GCRNO_H4,DEM_GCRNO_H5,DEM_GCRNO_H6,DEM_GCRNO_H7,DEM_GCRNO_H8,...,LUNES_FESTIVO,MARTES_POSTFESTIVO,SEMANA_SANTA,1_MAYO,10_MAYO,16_SEP,2_NOV.,PRE-NAVIDAD_Y_NEW_YEAR,NAVIDAD_Y_NEW_YEAR,POST-NAVIDAD_Y_NEW_YEAR
0,2007-01-01,1394,1297,1255,1222,1168,1128,1100,1083,1076,...,0,0,0,0,0,0,0,0,1,0
1,2007-01-02,1261,1177,1128,1098,1078,1071,1079,1097,1151,...,0,0,0,0,0,0,0,0,0,1
2,2007-01-03,1451,1376,1308,1277,1258,1246,1258,1286,1351,...,0,0,0,0,0,0,0,0,0,0
3,2007-01-04,1479,1390,1325,1284,1268,1260,1261,1285,1343,...,0,0,0,0,0,0,0,0,0,0
4,2007-01-05,1497,1394,1323,1271,1242,1236,1245,1292,1344,...,0,0,0,0,0,0,0,0,0,0